<!DOCTYPE html>
<html lang="en">
	{{>head}}

	<body>
        <div class="container text-center">
                <img src="images/404.png" class="img-fluid" alt="404" width="700" height="600"> 
                <h1 style="color: #3F3D56;">OOOPss.., Page Not Found..!</h1>
                <a href="/" class="btn btn-info mt-3">Go Back</a>
        </div>
		<script src="js/bootstrap.bundle.min.js"></script>
	</body>
</html>
