<!DOCTYPE html>
<html lang="en">
	{{>head}}
	<body>
		{{>nav}}
		<div class="landing d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-md-6 order-sm-last order-first align-self-center ">
						<p>Welcome to Weather App</p>
						<h1 class="mb-4">
							I am a <span class="text-info">MERN Stack </span>Developer, Designer and Tester.
						</h1>
						<button type="button" class="btn btn-info">About Me</button>
					</div>
					<div class="col-md-6 order-sm-first order-last">
						<img src="images/aboutme.png" alt="" srcset="">
					</div>
				</div>
			</div>
		</div>
		{{>footer}}

		<script src="js/bootstrap.bundle.min.js"></script>
	</body>
</html>
